@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Jersey+10&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Silkscreen:wght@400;700&family=Tiny5&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Jersey 10', sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #f2f2f2, #e0f7fa); /* Light gradient background */
}

.card {
  width: 90%;
  max-width: 470px;
  background: #ffffff;
  color: #222;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  border: 5px solid #FF69B4; /* Vibrant pink outline */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1); /* Light shadow for subtle depth */
}

.search-button img {
  width: 24px;
  height: 24px;
  margin: 0 12px 0 12px;
  border-style: none;
  cursor: pointer;
}

.search-button {
  background: #ffcccb; /* Light pink background */
  border: 3px solid #FF69B4;
  align-items: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.search-input {
  border: 3px solid #FF69B4;
  outline: 0;
  background-color: #FFF5F5; /* Light pink background */
  color: #555;
  padding: 12px 20px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
  font-family: 'Jersey 10', sans-serif;
}

.weather-icon {
  width: 180px;
  height: 130px;
  margin-top: 20px;
}

.weather-icon-details {
  width: 120px;
  height: 90px;
  margin-top: 20px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 700;
  font-family: 'Permanent Marker', sans-serif;
  color: #FF6347; /* Tomato color */
  margin-bottom: 20px;
}

.weather h2 {
  font-size: 50px;
  font-weight: 400;
  margin-top: -10px;
  font-family: 'Jersey 10', sans-serif;
  color: #20B2AA; /* Light teal */
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 30px 10px 30px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 50px;
  height: 50px;
  margin-right: 12px;
  margin-top: -5px;
}

.rain, .wind-speed {
  font-size: 28px;
  margin-top: 6px;
  font-family: 'Jersey 10', sans-serif;
  color: #87CEFA; /* Light sky blue */
}
