@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Jersey+10&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Silkscreen:wght@400;700&family=Tiny5&display=swap');

* {
  margin: 0 0 10px 0;
  padding: 0;
  font-family: 'Jersey 10', sans-serif;
  font-size: 28px;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2; /* Light grey background like a coloring book page */
}

.card {
  width: 90%;
  max-width: 470px;
  background: #ffffff;
  color: #222;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  border: 5px solid #FFD700; /* Golden outline like a coloring book page */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
}

.search-button img {
  width: 20px;
  height: 20px;
  margin: 0 15px 0 14px;
  border-style: none;
  cursor: pointer;
}

.search-button {
  background: #FFB6C1; /* Light pink, playful color */
  border: 3px solid #FFD700;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.search-input {
  border: 3px solid #FFD700;
  outline: 0;
  background-color: #FFFACD; /* Light yellow background */
  color: #555;
  padding: 10px 25px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
  font-family: 'Jersey 10', sans-serif;;
}

.weather-icon {
  width: 170px;
  height: 120px;
  margin-top: 30px;
}

.weather-icon-details {
  width: 100px;
  height: 80px;
  margin-top: 30px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 700;
  font-family: 'Permanent Marker', sans-serif; /* Handwritten style font */
  color: #FF6347; /* Tomato red for a playful look */
  margin-bottom: 20px;
}

.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
  font-family: 'Jersey 10', sans-serif;
  color: #20B2AA; /* Light sea green */
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 30px 5px 5px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-top: -10px;
}

.rain, .wind-speed {
  font-size: 28px;
  margin-top: 6px;
  font-family: 'Jersey 10', sans-serif; /* Retro pixelated style */
  color: #9dc7e9; /* Steel blue for a soothing look */
}
