@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Silkscreen:wght@400;700&display=swap');



body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Mono", monospace;
  background-color: #F2E5DE;
  background-image: url('img/Home.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  overflow: hidden;
}




h2 {
  text-align: center;
  justify-content: center;
  color: #C5705D ;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 2rem;
}

.year {
  color: #C5705D;
  font-size: 2rem;
  margin-top: 1rem;
  font-weight: bold;
}

.countdown {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(163, 118, 90, 0.607);
  width: 100%;
  color: whitesmoke;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px; /* Margin from bottom */

}
.countdown div {
  margin: 0 15px;
  font-weight: 500;
  font-size: 2.5em;
  margin-top: -25px;
  position: relative;
  text-align: center;
  width: 100px;
}

.countdown div::before {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 0;
  font-size: .35em;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  width: 100%;
  height: 35px;



}

.countdown #day::before {
  content: "days";
}

.countdown #hour::before {
  content: "hour";
}

.countdown #minute::before {
  content: "minutes";
}

.countdown #second::before {
  content: "seconds";
}
